APP_ENV=local
APP_DEBUG=true
APP_KEY=

LOG_CHANNEL=single

DB_CONNECTION=pgsql
DB_HOST=dps-postgres
DB_PORT=5432
DB_DATABASE=records_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

QUEUE_CONNECTION=redis
REDIS_HOST=dps-redis
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=dps-kafka:9092
KAFKA_INPUT_TOPIC=data-records
KAFKA_CONSUMER_GROUP=data-processing-service

ALERT_VALUE_THRESHOLD=1000.00
